# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Environment
.env
venv/
